# Core
streamlit==1.19.0

# Streamlit components
streamlit-ace
streamlit-discourse
streamlit-disqus
streamlit-elements
streamlit-pandas-profiling
streamlit-player
streamlit-quill
streamlit-elements==0.1.*

# Dependencies
pandas-profiling
requests

graphviz==0.20.1
matplotlib==3.7.0
networkx==3.0
openai==0.27.0
streamlit-agraph==0.0.45